{% extends 'default/base.html.twig' %}

{% block body %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<script src="{{ asset('js/inschrijf_check.js') }}"></script>
<h1>Inschrijven</h1>
<i>Bij problemen en paniek kun je bellen met: 06-55726426</i><br />

Op dit moment zijn er nog <span id="aantal_vrije_plekken" style="font-weight: bold;">{{ vrijePlekken }}</span> vrije
plekken!

<div id="inschrijven_vereniging">
    <h4 id="inschrijven_vereniging_header" class="{{ classNames.inschrijven_vereniging_header }}">&#187; Vereniging</h4>
    Laten we beginnen met het selecteren van de vereniging waarvoor je inschrijft:<br/>
    <br/>

    <div class="row">
        <form name="vereniging">
            <select name="vereniging" class="{{ classNames.verenigingnaam }}"
                    onchange="
                    aantal_plekken();
                    check_vereniging();
                    update_vereningsnaam()"
                    id="verenigingnaam">

                <option class="option" value="" selected>
                    Selecteer een vereniging
                </option>
                {% for vereniging in verenigingen %}
                    <option class="option"
                            {% if vereniging.id == values.verenigingId %}
                                selected
                            {% endif %}
                            value="{{ vereniging.id }}_{{ vereniging.naam }}, {{ vereniging.plaats }}">
                        {{ vereniging.naam }}, {{ vereniging.plaats }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <br/>
    <input type="checkbox" id="verenigingstaaternietbijikbenzozielig"
           onchange="vereniging_bestaat_niet()" {{ verenigingOption }}> <label
            for="verenigingstaaternietbijikbenzozielig" style="width: auto;">Mijn vereniging staat er niet bij!
        &#128533;</label>

    {% if verenigingOption == "checked" %}
    <div id="inschrijven_nieuwe_vereniging" style="display:{{ display }};">
        {% else %}
        <div id="inschrijven_nieuwe_vereniging" style="display:none;">
            {% endif %}

            <br/>
            <hr>
            <br/>Staat je vereniging er niet bij?! Geen zorgen! Vul hier de details van je vereniging in en je kunt
            alsnog verder met inschrijven.<br/><br/>

            <div class="row"><label for="verenigingsnaam">Naam vereniging:</label><input type="text"
                                                                                         class="{{ classNames.verenigingsnaam }}"
                                                                                         id="verenigingsnaam"
                                                                                         value="{{ values.verenigingsnaam }}"
                                                                                         name="verenigingsnaam"
                                                                                         placeholder="Naam vereniging"
                                                                                         onchange="check_vereniging()
                                                                                         ;update_vereningsnaam();
                                                                                         validate_vereniging_naam
                                                                                         (true)" autocomplete="off"/>
            </div>
            <div class="row"><label for="verenigingsplaats">Plaats vereniging:</label><input type="text"
                                                                                             class="{{ classNames.verenigingsplaats }}"
                                                                                             id="verenigingsplaats"
                                                                                             value="{{ values
                                                                                             .verenigingsplaats }}"
                                                                                             name="verenigingsplaats"
                                                                                             placeholder="Plaats"
                                                                                             onchange="check_vereniging();update_vereningsnaam()"
                                                                                             onkeyup="validate_vereniging_plaats(true)" autocomplete="off"/>
            </div>
        </div>
        </form>

    </div>

    <div id="inschrijven_contactpersoon" style="display:{{ display }};">
        <h4 id="inschrijven_contactpersoon_header" class="{{ classNames.inschrijven_contactpersoon_header }}">&#187;
            Contactpersoon</h4>
        Super! Je kunt nu verder met inschrijven voor <span id="inschrijven_verenigingsnaam"></span>.<br/>
        Dan zouden we nu graag wat gegevens van de contactpersoon willen hebben.<br/>
        <br/>

        <form name="inschrijven_contactpersoon">
            <div class="row"><label for="voornaam">Voornaam:</label> <input type="text"
                                                                            class="{{ classNames.voornaam }}"
                                                                            id="voornaam"
                                                                            value="{{ values.voornaam }}"
                                                                            placeholder="Voornaam"
                                                                            onchange="check_contactpersoon();
                                                                            validate_voornaam(true)" autocomplete="off"/></div>

            <div class="row"><label for="achternaam">Achternaam:</label> <input type="text" class="{{ classNames
                .achternaam }}" id="achternaam"
                                                                                placeholder="Achternaam"
                                                                                value="{{ values.achternaam }}"
                                                                                onchange="check_contactpersoon();
                                                                                validate_achternaam(true)" autocomplete="off"/>
            </div>
            <div class="row"><label for="email">E-mail:</label> <input type="email" class="{{ classNames.email }}"
                                                                       id="email"
                                                                       value="{{ values.email }}"
                                                                       placeholder="jouw@email.nl"
                                                                       onchange="check_contactpersoon();
                                                                       validate_email(true)" autocomplete="off"/></div>

            <div class="row"><label for="telefoonnummer">Telefoonummer:</label> <input type="text"
                                                                                       class="{{ classNames.telefoonnummer }}"
                                                                                       id="telefoonnummer"
                                                                                       value="{{ values.telefoonnummer }}"
                                                                                       placeholder="0612345678"
                                                                                       onchange="check_contactpersoon
                                                                                       ();validate_telefoonnummer(true)" autocomplete="off"/>
            </div>
            <br/>
            Om in te kunnen loggen, heb je een account nodig.<br/>
            Kies hier je inlognaam en wachtwoord:
            <br/>
            <br/>

            <div class="row"><label for="username">Inlognaam:</label> <input type="text"
                                                                             class="{{ classNames.username }}"
                                                                             id="username"
                                                                             value="{{ values.username }}"
                                                                             placeholder="kies_je_inlognaam"
                                                                             onchange="check_contactpersoon();validate_username(true)" autocomplete="off"/>
            </div>
            <div class="row"><label for="wachtwoord">Wachtwoord:</label> <input type="password" class="{{ classNames
                .wachtwoord }}"
                                                                                id="wachtwoord" placeholder="********"
                                                                                value="{{ values.wachtwoord }}"
                                                                                onchange="check_contactpersoon();
                                                                                validate_wachtwoord(true)" autocomplete="off"/>
            </div>
            <div class="row"><label for="wachtwoord2">Nogmaals:</label> <input type="password" class="{{ classNames
                .wachtwoord2 }}"
                                                                               id="wachtwoord2" placeholder="********"
                                                                               value="{{ values.wachtwoord2 }}"
                                                                               onchange="check_contactpersoon()"
                                                                               onkeyup="validate_wachtwoord2(true)"
                                                                               autocomplete="off"/></div>
            <br/>
        </form>
    </div>

    <div id="inschrijven_reserveren" style="display:{{ display }};">
        <h4 id="aantal_plekken_header" class="{{ classNames.aantal_plekken_header }}">&#187; Plekken reserveren</h4>
        Het meest belangrijke is het inschrijven van de turnsters. Jij geeft het aantal aan, en wij reserveren de
        plaatsen. Voor elke turnster houden wij de plekken 1 minuut langer gereserveerd, met een minimum van 5
        minuten.<br/>
        <br/>
        Ik ben van plan om <input type="number" id="reserveer_aantal_invoer" class="{{ classNames.aantalTurnsters }}" placeholder="0"
                                  onkeyup="update_reserveer_display()" onchange="update_reserveer_display()" min="1" max="100" value="{{ values
        .aantalTurnsters
        }}" autofocus />
        turnsters
        in te
        schrijven.
        <br/>
        <br/>

        <a href="#" id="reserveer_button" onclick="post_gegevens()"><span id="reserveer_aantal">0 plekken reserveren!</span>
        </a>
    </div>
    <form id="post_form" method="post" action="">
        <input type="hidden" name="verenigingsnaam" id="post_verenigingsnaam"/>
        <input type="hidden" name="verenigingsplaats" id="post_verenigingsplaats"/>
        <input type="hidden" name="verenigingsid" id="post_verenigingsid"/>
        <input type="hidden" name="voornaam" id="post_voornaam"/>
        <input type="hidden" name="achternaam" id="post_achternaam"/>
        <input type="hidden" name="email" id="post_email"/>
        <input type="hidden" name="telefoonnummer" id="post_telefoonnummer"/>
        <input type="hidden" name="username" id="post_username"/>
        <input type="hidden" name="wachtwoord" id="post_wachtwoord"/>
        <input type="hidden" name="wachtwoord2" id="post_wachtwoord2"/>
        <input type="hidden" name="aantalTurnsters" id="post_aantalturnsters"/>
        <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
    </form>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
