{% extends 'default/base.html.twig' %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('addNieuwsPage') }}">Nieuw nieuwsbericht plaatsen:<img src="{{ asset('images/add.png') }}"
                                                                                width="18px"/></a>
    {% endif %}
    {% if inschrijvingGeopend %}
        <div id="inschrijven"><a href="{{ path('inschrijven') }}">Inschrijven &#187;</a></div>
    {% endif %}
    <h1>Laatste nieuws</h1>
    {% if aantalPlekken > -1 and inschrijvingGeopend %}
        <p>Er zijn nog plekken beschikbaar!</p>
        {% if aantalPlekken == 0 %}
            Het toernooi is dus helemaal vol, nieuwe turnsters worden op de wachtlijst geplaatst!<br/>
{#            Dit jaar zat het toernooi op <b>{{ tijdVol.datum }}</b> om <b>{{ tijdVol.tijd }}</b> vol, dat is dus binnen#}
{#            <b>{{ tijdTotVol.uur }}</b> uur,#}
{#            <b>{{ tijdTotVol.minuten }}</b> minuten en <b>{{ tijdTotVol.secondes }}</b> seconden!#}
        {% endif %}
    {% endif %}
    {% for item in nieuwsItems %}
        <div class="date">{{ item.datumtijd }}</div>
        <hr>
        <h1>
            {{ item.titel }}
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('editNieuwsberichtPage', { 'id': item.id }) }}"><img
                            src="{{ asset('images/edit.png') }}" width="18px"/></a>
                <a href="{{ path('removeNieuwsberichtPage', { 'id': item.id }) }}"><img
                            src="{{ asset('images/remove.png') }}" width="18px"/></a>
            {% endif %}
        </h1>

        <p>{{ item.bericht|raw }}</p>
    {% endfor %}
{% endblock %}
