{% extends 'default/base.html.twig' %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('addSponsorPage') }}">
            Sponsor toevoegen<img src="{{ asset('images/add.png') }}" width="18px" /></a>
    {% endif %}
    <div class="sponsors">
        <h1>Sponsors</h1>
        <p>Wilt u of uw bedrijf ook op de sponsorpagina komen stuurt u dan een e-mail naar
        <a href="mailto:info@thog.nl">info@thog.nl</a></p>
        {% for sponsor in sponsors %}
            <hr>
                <h2>{{ sponsor.naam }}
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('editSponsorPage', { 'id': sponsor.id }) }}"><img
                                src="{{ asset('images/edit.png') }}" width="18px"/></a>
                    <a href="{{ path('removeSponsorPage', { 'id': sponsor.id }) }}"><img
                                src="{{ asset('images/remove.png') }}" width="18px"/></a>
                {% endif %}
                </h2>
                {% if sponsor.website %}
                    <a href="{{ sponsor.website }}" target="_blank">
                {% endif %}
                <img src="/uploads/sponsors/{{ sponsor.locatie2 }}" />
                {% if sponsor.website %}
                    </a>
                {% endif %}
                {% if sponsor.omschrijving %}
                    <div class="beschrijving">{{ sponsor.omschrijving|raw }}</div>
                {% endif %}
        {% endfor %}
    </div>
{% endblock %}
